<html>
    <head>
    	
    	<title></title>
		 <script src="/javascripts/jquery-3.2.1.js"></script>
		 <script src="/javascripts/graphql.js"></script>
		 <link href="/stylesheets/bootstrap.css" rel="stylesheet" />
    </head>
    <body>
       <script type="text/javascript">
       	
			var graph = graphql("/graphql")//connect

			var allUsers = graph(`query ($id: ID!){
				User(id:$id) {
				  email
				}
			}`,{
			 id:"59be08c36307121870aeb483"
			}).then(function (response) {
			  	console.log(response)
			}).catch(function (error) {
			  	console.log(error)
			})
       </script>
    	

    </body>
</html>